<div ng-if="!(create || edit || view)">
    <h1>Missions</h1>

    <button class="btn btn-primary" ng-click="createNewMission()" style="margin-bottom: 2.5rem"><span
            class="glyphicon glyphicon-plus"></span>
        New mission
    </button>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Mission ID</th>
            <th>Name</th>
            <th>Active</th>
            <th>Astronauts</th>
            <th>Spacecrafts</th>
            <th>Destination</th>
            <th>ETA</th>
            <th>Description</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mission in missions track by $index" ng-click="setSelected(mission.id)"
            ng-class="{active: mission.id === selectedMission.id}">
            <td>{{mission.id}}</td>
            <td>{{mission.name}}</td>
            <td>{{mission.active ? 'Yes' : 'No'}}</td>
            <td>
                {{mission.astronauts.length}}
            </td>
            <td>
                {{mission.spacecrafts.length}}
            </td>
            <td>{{mission.destination}}</td>
            <td>{{mission.eta}}</td>
            <td>{{mission.missionDescription}}</td>
            <td>{{mission.endDate ? mission.readyDate : "UNKNOWN"}}</td>
            <td>
                <button class="btn btn-primary" ng-click="editMission(mission.id)">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button ng-click="deleteMission(mission.id)" class="btn btn-danger"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="archiveMission(mission.id)">
                    <span class="glyphicon glyphicon-modal-window"></span>
                </button>
            </td>
            </td>
        </tr>
        </tbody>
    </table>


    <div ng-if="selectedMission != null">
        <h2>Spacecrafts for {{selectedMission.name}}</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Craft Components</th>
            </tr>
            </thead>
            <tr ng-repeat="spacecraft in selectedMission.spacecrafts" ng-click="setSelectedS(spacecraft.id)"
                ng-class="{active: spacecraft.id === selectedSpacecraft.id}">
                <td>{{spacecraft.name}}</td>
                <td>{{spacecraft.type}}</td>
                <td>
                    {{spacecraft.components.length}}
                </td>

            </tr>
        </table>
        <div ng-if="selectedSpacecraft != null">

            <h2>Craft components for {{selectedSpacecraft.name}}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ready to use</th>
                    <th>Ready date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cc in selectedSpacecraft.components track by $index">
                    <td>{{cc.id}}</td>
                    <td>{{cc.name}}</td>
                    <td>{{cc.readyToUse?"YES":"NO"}}</td>
                    <td>{{cc.readyDate == null ? (cc.readyToUse? "READY" : "UNKNOWN") : cc.readyDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2>Astronauts for {{selectedMission.name}}</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Experience level</th>
                <th>Accepted Mission</th>
                <th>Manager</th>

            </tr>
            </thead>
            <tr ng-repeat="user in selectedMission.astronauts">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.experienceLevel}}</td>
                <td>{{user.acceptedMission ? 'Yes' : 'No'}}</td>
                <td>{{user.manager ? 'Yes' : 'No'}}</td>
            </tr>
        </table>
    </div>

    <div ng-if="archivedMissions.length != 0">
        <h1>Archived missions</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mission in archivedMissions track by $index">
                <td>{{mission.name}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="viewMission(mission.id)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>


<div ng-if="create || edit">
    <h1>{{create ? 'Create' : 'Edit'}} mission {{editedMission.name}}</h1>
    <form name="form" novalidate class="form-horizontal">

        <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input placeholder="name" id="name" type="text" name="name" class="form-control"
                       ng-model="editedMission.name" required minlength="3" maxlength="50"/>
                <p class="help-block" ng-show="form.name.$error.required">required</p>
                <p class="help-block" ng-show="form.name.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.destination.$valid)}">
            <label for="destination" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-10">
                <input placeholder="destination" id="destination" type="text" name="destination" class="form-control"
                       ng-model="editedMission.destination" required minlength="3" maxlength="255"/>
                <p class="help-block" ng-show="form.destination.$error.required">required</p>
                <p class="help-block" ng-show="form.destination.$error.minlength">must be at least 3 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.missionDescription.$valid)}">
            <label for="missionDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input placeholder="mission description" id="missionDescription" type="text" name="missionDescription"
                       class="form-control" ng-model="editedMission.missionDescription" required minlength="3"
                       maxlength="255"/>
                <p class="help-block" ng-show="form.missionDescription.$error.required">required</p>
                <p class="help-block" ng-show="form.missionDescription.$error.minlength">must be at least 3
                    characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.eta.$valid)}">
            <label for="eta" class="col-sm-2 control-label">ETA</label>
            <div class="col-sm-10">
                <input id="eta" name="eta" min="{{date}}" type="datetime-local" class="form-control"
                       ng-model="editedMission.eta" required/>
                <p class="help-block" ng-show="form.eta.$error.required">required</p>
            </div>
        </div>

        <div class="form-group">
            <label for="astronauts" class="col-sm-2 control-label">Astronauts</label>
            <div class="col-sm-10">
                <select multiple id="astronauts" name="astronauts" class="form-control"
                        ng-min=1 ng-model="editedMission.astronauts"
                        ng-options="astronaut.name for astronaut in selectedAstronauts">
                    <option ng-repeat="astronaut in selectedAstronauts" value="{{astronaut}}">{{astronaut.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="spacecrafts" class="col-sm-2 control-label">Spacecrafts</label>
            <div class="col-sm-10">
                <select multiple id="spacecrafts" name="spacecrafts" class="form-control"
                        ng-min=1 ng-model="editedMission.spacecrafts"
                        ng-options="spacecraft.name for spacecraft in selectedSpacecrafts"
                        required="editedMission.spacecrafts > 0">
                    <option ng-repeat="spacecraft in selectedSpacecrafts" value="{{spacecraft}}">{{spacecraft}}</option>
                </select>
                <p class="help-block" ng-show="form.spacecrafts.$error.required">At least 1 spacecraft has to be
                    selected</p>
            </div>
        </div>

        <button ng-if="edit" ng-disabled="!form.$valid" class="btn btn-primary" type="button" ng-click="submitEdit()">
            Submit mission
        </button>
        <button ng-if="create" ng-disabled="!form.$valid" class="btn btn-primary" type="button"
                ng-click="submitCreate()">Create mission
        </button>
        <button class="btn btn-danger" type="button" ng-click="cancelEdit()">Cancel
        </button>
    </form>
</div>


<div ng-if="view">
    <h1>Archived mission: {{editedMission.name}}</h1>
    <div>
        <pre>{{editedMission.result}}
        </pre>
    </div>

    <button class="btn btn-danger" type="button" ng-click="cancelEdit()">Back
    </button>
</div>